address{
    background-color: red;
    border: 3px solid black;
    font-style: normal;
}
strong{
    font-size: large + 25%;
}
main{
    font-style: italic;
}
a{
    text-decoration: none;
    color: red;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    list-style-type: none;
}
ol{
    list-style-type: upper-roman;
}
dd{
    visibility: hidden;
}
dt:hover + dd{
    visibility: visible;
}